a {
	colors: yes;
	dir1 : true;
}p {
	margins: very;
}
/*No one said the concat should be smart*/p {
	margins: very;
}
/*No one said the concat should be smart*/a {
	colors: yes;
	dir1 : true;
}p {
	margins: very;
}
/*No one said the concat should be smart*/p {
	margins: very;
}
/*No one said the concat should be smart*/